@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'JetBrainsMonoNerd', "Courier New", Courier, monospace;
}

@font-face {
    font-family: "JetBrainsMonoNerd";
    src: url('../JetBrainsMonoNerd.tff') format('truetype');
}